@import "tailwindcss";

:root {
  --rosa: #D70E8E;
  --celeste: #90D9FE;
  --oscuro: #2C2A2B;
  --cafe: #905742;
  --bg-soft: #FDFBFA; /* El tono crema/blanco suave de la imagen */
}

body {
  background-color: var(--bg-soft);
  color: var(--oscuro);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Sombra suave para las tarjetas profesionales */
.card-shadow {
  box-shadow: 0 10px 30px -10px rgba(0,0,0,0.04), 0 4px 10px -5px rgba(0,0,0,0.02);
}
